@font-face {
    font-family: 'lato';
    src: url(../font/Lato-Regular.ttf);
}

ul, li {
    margin: 0;
    padding: 0;
    font-family: "lato, sans serif";
}

html {
    scroll-behavior: smooth;
}

/*BODY*/
body {
    margin: 0;
    padding: 0;
    font-family: 'lato';
    background-color: white;
    color: gray;
}
/*section header*/

#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

#navbar ul {
    z-index: 1;
    display: flex;

}


nav label img {
    width: 100%;
    padding: .3rem;
    cursor: pointer;
}

.logoHeader {
    background-color: rgb(29, 28, 28);
    padding: 0 0.5rem;
    color: white;
    


}
h1{
    letter-spacing: .9rem;
}

#navbar li {
    margin: 0;
    padding: 1rem;
    list-style: none;
}


#navbar a {
    text-decoration: none;
    font-size: 1rem;
    color: grey;
    transition: all .3s;


}

#navbar li:hover {
    background-color: white;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/parallax1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%,-250px;
    margin: 0 auto;
    max-width: 1920px;
    height: 65vh;
    background-attachment: fixed;
    

}
input, button{
    background-color: transparent;
    border: none;
    padding: 1rem;

}
/*Section ABOUT ME*/
#aboutMe{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;

}
/*section paragraphe1*/
.paragraphe1{
    font-style: italic;
    text-align: center;
}
/*section paragraphe2*/
.paragraphe2{
    text-align: left;
    margin: 3rem 3rem;
    
}
#myName div{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
figure img{
    width: 100%;
    margin-top: 2rem;
}
#myName div p{
    width: 50%;
}
figure{
    width: 50%;
    text-align: center;
}